.userList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.userItem {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background: linear-gradient(135deg, #f6d365 0%, #fda085 100%);
  }
}

.userName {
  font-weight: bold;
}

.userEmail {
  color: #555;
}